<html>
    <head>
        <title> Assignment 3 </title>
    </head>
    <body>
        <h2> Assignment 3 </h2>
        <h3> By Naman Jain Vimal Kumar</h3>
        <h3> 1001670153 </h3>
        <table>
            <tr>
                <th> Calculate timings: </th>
                <td>
                    <form action="/api/timings" method="POST">
                        <label> Number of times to run the timings for: </label><input type="text" name="n_time" value="1000"> <br />
                        <input type="submit" value="Click me">
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>