<html>
    <head>
        <title> Quiz 3 </title>
    </head>
    <body>
        <h3> Vimal Kumar, Naman Jain </h3>
        <h3> 1001670153 </h3>
        <h3> <a href="/"> Home </a> </h3>
        <center>
            {% if not data %}
                <p> No Data </p>
            {% else %}
                {% for d in data %}
                    <h3> Label: {{ d.range }}</h3>
                    <table>
                        <tr>
                            {% for x in keys %}
                                <th> {{ x }} </th>
                            {% endfor %}
                        </tr>
                        {% for x in d.details %}
                            <tr>
                                {% for y in keys %}
                                    <td> {{ x[y] }} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            {% endif %}
        </center>
        
    </body>
</html>