<!DOCTYPE html>
    <head>
        <title> Assignment 6-7 </title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <style>
            table, th, td {
                border: 1px solid black;
                padding: 3px;
            }
        </style>
    </head>
    <body>
        <h1> Student View </h1>
        <form action="/api/student" method="GET">
            <label> Input first name </label>
            <input type = "text" name = "fname" required> <br />
            <label> Input last name </label>
            <input type = "text" name = "lname" required> <br />
            <input type = "submit">
        </form>

        {% if msg %}
            <p style="color: blue;"> {{ msg }} </p>
        {% endif %}

        {% if tables %}
            {% for x in tables %}
                {% if x.records.length == 0 %}
                    <p> {{ x.title }} table is empty </p>
                {% else %}
                    <table style="border-collapse: collapse">
                        <caption> {{x.title}} </caption>
                        <tr>
                            {% for table_key in x.records[0].keys() %}
                                <th> {{ table_key }} </th>
                            {% endfor %}
                        </tr>
                        {% for record in x.records %}
                            <tr>
                                {% for table_key in x.records[0].keys() %}
                                    <td> {{ record[table_key] }} </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <br />
            {% endfor %}
        {% endif %}

        {% if addCourse %}
        <table style="border-collapse: collapse">
            <caption> {{addCourse.title}} </caption>
            <tr>
                <th> Student ID </th>
                {% for table_key in addCourse.records[0].keys() %}
                    <th> {{ table_key }} </th>
                {% endfor %}
                <th> </th>
            </tr>
            
            {% for record in addCourse.records %}
                <tr>
                    <form action = "/api/addEnrollment" method="GET">
                        <td> <input type = "text" name = "student_id" value="{{ addCourse.student_id }}" readonly> </td>
                        {% for table_key in addCourse.records[0].keys() %}
                            <td> <input type = "text" name = "{{ table_key.lower() }}" value="{{ record[table_key] }}" readonly> </td>
                        {% endfor %}
                        <td><input type="submit"> </td> 
                    </form>
                </tr>
            {% endfor %}
            
            <tr> </tr>
        </table>
            
        {% endif %}
    </body>
</html>