<!DOCTYPE html>
    <head>
        <title> Assignment 4 </title>
    </head>
    <body>
        <h1> Hello world </h1>
        <table>
            <tr>
                <th> Clustering </th>
                <td>
                    <form action="/api/clustering" method="POST">
                        <b> <label> Number of Clusters: </label> </b>
                        <input type="text" id="cluster_count" name="cluster_count" required> <br />
                        <b> <label> Select clustering attributes </label> </b> <br />
                        <input type="checkbox" name="clusters" value="pclass"> P Class <br />
                        <input type="checkbox" name="clusters" value="survived"> Survived <br />
                        <input type="checkbox" name="clusters" value="name"> Name <br />
                        <input type="checkbox" name="clusters" value="sex"> Sex <br />
                        <input type="checkbox" name="clusters" value="age"> Age <br />
                        <input type="checkbox" name="clusters" value="sibsp"> Sibsp <br />
                        <input type="checkbox" name="clusters" value="parch"> Parch <br />
                        <input type="checkbox" name="clusters" value="ticket"> Ticket <br />
                        <input type="checkbox" name="clusters" value="fare"> Fare <br />
                        <input type="checkbox" name="clusters" value="cabin"> Cabin <br />
                        <input type="checkbox" name="clusters" value="embarked"> Embarked <br />
                        <input type="checkbox" name="clusters" value="boat"> Boat <br />
                        <input type="checkbox" name="clusters" value="body"> Body <br />
                        <input type="checkbox" name="clusters" value="home.dest"> Home.Dest <br />
                        <br />
                        <b> <label> Checked Array: </label> </b> <br />
                        <input type="text" name="checked" id="checked" readonly>
                        <button type="submit" value="Clusterize"> Submit </button>
                    </form>
                </td>
            </tr>
        </table>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(even){
                $("button").click(function(){
                var checkvalue = [];
                $.each($("input[name='clusters']:checked"), function(){            
                    checkvalue.push($(this).val());
                });
                var checkedArrayValues = document.getElementById("checked");
                checkedArrayValues.value = checkvalue.toString();
            });
            });
        </script>

    </body>
</html>